#lessonTitle{
  font-family: 'Patua One', cursive;
  border: 1px black solid;
  text-align: center;
  background-color: rgba(83,211,246,0.6);
  padding: 15px;
  font-size: 2.5em;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #ccc;
}

.questionList{
  list-style-type: none;
}

#upArrow{
  padding-left: 30px;
}


.eachQuestion{
  margin: 5%;
  //padding: 35px;
  font-size: 1.2em;
  font-family: 'Patua One', cursive;
  #theQuestion{
    padding: 5px;
    border: 1px black solid;
    #fileFile{
      padding: 8px;
      cursor: pointer;
    }
    .answerTime{
      float: right;
    }
  }
}


.askQuestion{
  position: fixed;
  width: 20%;
}

.newQuestionTitle{
  width: 100%;
  margin-bottom: calc(100%/14);
}

.newQuestionBody{
  width: 100%;
  resize: none;
}

.questionButton{
  border: 0px;
  background-color: #797878;
  margin-top: 7px;
  float: right;
  color: white;
  width: 20%;
}
