#questionRow{
  .col-xs-9{
    width: calc(100%-300px);
    padding-right: 40px;
  }
}

.eachQuestion{
  width: 100%;
  margin-bottom: 20px;
}

.lessonTitle{
  text-align: center;
}


.questionList{
  list-style-type: none;
  .eachQuestion{

    .col-xs-2{
      text-align: right;
      padding-top:3%;
      padding-right: 1%;
      .upArrow{
        font-size: 1.5em;
        .arrow{
          padding-top: 20%;
        }
      }
    }
    .col-xs-10{
      margin-bottom: 20px;
      .card{
        .cardHeader{
          background-color: rgba(33,47,60,0.15);
          font-size: 1.2em;
          .col-xs-4{
            text-align: right;
          }
        }
        .cardFooter{
          color: $off-white;
        }
      }
    }
  }
}

.askQuestion{
  margin-top: 50%;
  text-align: center;
  position: center;
    .newQuestionTitle{
      padding: 10px;
      margin-top: 10%;
      margin-bottom: 5%;
      width: 100%;
      border: 1px solid $light;
      box-shadow: $shadow-3;
    }
    .newQuestionCodeLink{
      padding: 10px;
      margin-bottom: 5%;
      width: 100%;
      border: 1px solid $light;
      box-shadow: $shadow-3;
    }
    .newQuestionBody{
      padding: 10px;
      resize: none;
      margin-bottom: 5%;
      width: 100%;
      border: 1px solid $light;
      box-shadow: $shadow-3;
    }
}
