<!DOCTYPE html>

<html ng-app="mainsos">

<head>
  <title>Knowledge Portal - A Community Committed To Learning Web Development</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/css-ripple-effect/dist/ripple.min.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/ngApp/css/main.min.css"/>
  <style media="screen">
    @import url('https://fonts.googleapis.com/css?family=Exo:900');
    @import url('https://fonts.googleapis.com/css?family=Jura');
    @import url('https://fonts.googleapis.com/css?family=Pavanam');
    @import url('https://fonts.googleapis.com/css?family=Poppins');
    @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
  </style>
</head>

<body>
  <div class="container" id="header"> <!-- page header -->
    <div class="row">
      <div class="wrap">

        <div class="col-xs-7">
          <div class="box-outer">
            <div class="box-inner">
              <a ui-sref="home"><img src="logorosa.png" alt="knowledge"></a>
            </div>
          </div>
        </div>

        <div class="col-xs-5">
          <form ng-controller="indexController as controller">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="controller.searchString" placeholder="Search...">
              <span class="input-group-btn">
                <button class="custom-btn-utility custom-btn-utility-info ripple" type="button" ng-click="controller.goToSearch()"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
              </span>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div> <!-- end page header -->

        <!-- <div id="dropDownContents" ng-controller="indexController as controller">
          <ul id="courses">
            <li class="dropdown" id='home'><div class="dropdownitem">
              <a href="/" class="idLink">
                <img class="rounded" src="/smoothsquare.png" />
                  <p class="roundeditem">
                    Home
                  </p>
              </a>
            </div></li>
            <li class="dropdown" ng-repeat="course in controller.courses"><div class="dropdownitem">
              <img class="rounded" src="/smoothsquare.png" />
                <p class="roundeditem">
                  {{course.name}}
                </p>
            </div></li>
          </ul>
        </div> -->


        <div class="choice row" ng-controller="indexController as controller">
          <div class="wrap">
            <div class="col-xs-6">
              <div class="box-outer full-height">
                <div class="box-inner">
                  <button class="custom-btn custom-btn-info ripple" ng-click="controller.isAdmin()">Administrator</button>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="box-outer full-height">
                <div class="box-inner">
                  <button class="custom-btn custom-btn-go ripple" ng-click="controller.isStudent()">Student</button>
                </div>
              </div>
            </div>
          </div>
        </div>


      <ui-view></ui-view>

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>

  <script src="/ngApp/UIfunctions/UIfunctions.js"></script>
  <script src="/ngApp/UIfunctions/commentstoggle.js"></script>
  <script src="/ngApp/UIfunctions/height.js"></script>
  <script src="/ngApp/app.js"></script>

  <script src="/ngApp/controllers/homeController.js"></script>
  <script src="/ngApp/controllers/indexController.js"></script>
  <script src="/ngApp/controllers/lessonController.js"></script>
  <script src="/ngApp/controllers/answerController.js"></script>
  <script src="/ngApp/controllers/questionController.js"></script>
  <script src="/ngApp/controllers/searchController.js"></script>

  <script src="/ngApp/services/answerService.js"></script>
  <script src="/ngApp/services/commentService.js"></script>
  <script src="/ngApp/services/courseService.js"></script>
  <script src="/ngApp/services/lessonService.js"></script>
  <script src="/ngApp/services/questionService.js"></script>


  <script src="/ngApp/services/test.js"></script> <!-- NOTE: This line will be deleted, using it to test connectionssss -->


</body>

</html>
