/* CARD LAYOUT */

.card{
  width: 100%;
  box-shadow: $shadow;
  border: 1px rgba(0,0,0,0.1) solid;
  border-radius: $radius;
  .cardHeader{
    background-color: rgba(33,47,60,0.15);
    padding: 10px;
    .box-outer{
      height: 50px;
      .header1{
        font-family: $heading-font-1;
        text-align: left;
      }
    }
  }
      .header2{
        font-family: $heading-font-2;
        text-align: right;


  }


  .cardBody{
    font-family: $text-font-1;
  }

  .cardFooter{
    margin: 0 !important;
    background-color: $grey;
    padding: 10px;
    .footer1{
      font-family: $text-font-3;
      text-align: left;
    }

    .footer2{
      font-family: $text-font-3;
    }

    .footer3{
      font-family: $text-font-3;
      text-align: right;
    }
  }
}

.card:hover{
  box-shadow: $shadow-2;
}
