<div class="wrap" id="topSpacing">
  <div class="row">
    <div class="col-md-9">
      <div class="questionInfo">
        <div class="row cardHeader">
          <div class="col-xs-9">
              <h4 class="questionTitle" style="text-align: left">{{controller.question.qTitle}}</h4>
          </div>
          <div class="col-xs-3">
            <button class="custom-btn-utility custom-btn-utility-info ripple" ng-click="controller.showEditQuestionModal(question._id)" ng-if="controller.administrator">
              <i class="fa fa-pencil"></i>
            </button>
          </div>
        </div>
        <div class="cardBody">
          <p>{{controller.question.qContent}}</p>
          <a href="{{controller.question.qCodeLink}}" target="_black"><h5 style="padding: 10px">{{controller.question.qCodeLink}}</h5></a>
        </div>
      </div>
      <div class="answers">
        <ul class="answersUL"  ng-repeat="answer in controller.answers">
          <div class="row">
            <div class="col-xs-1">
              <button class="custom-btn-utility custom-btn-utility-info" ng-click="controller.countUpTickAnswer(answer)">
              <i class="fa fa-sort-asc"></i>
              </button>
              <p>{{answer.usefulCount}}</p>
            </div>
            <div class="col-xs-11">
              <li class="question">
                <div class="forQuestion card">
                  <div class="cardHeader">
                    <div class="inner">
                      {{answer.aContent}}
                    </div>
                  </div>
                  <div class="cardFooter row">
                    <div class="col-xs-4 footer1">
                      <button class="custom-btn custom-btn-go ripple replyButton" ng-click="controller.answerComments(answer._id)">Reply</button>
                    </div>
                      <div class="col-xs-2 footer2">
                      <button class="custom-btn-utility custom-btn-utility-info ripple" ng-click="controller.showEditAnswerModal(answer)" ng-if="controller.administrator"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-xs-2 footer2">
                      <button class="custom-btn-utility custom-btn-utility-stop ripple" ng-click="controller.deleteAnswer(answer._id)" ng-if="controller.administrator"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-xs-4 footer3">
                      {{answer.aDate | date:'MM/dd/yyyy h:mma'}}
                    </div>
                  </div>
                  <div class="discussionContainer cardHeader">
                    <ul>
                      <li ng-repeat="comment in controller.comments">
                        <div class="row">
                          <div class="col-xs-8">
                            {{comment.cContent}}
                            </div>
                            <div class="col-xs-2">
                              <button class="custom-btn-utility custom-btn-utility-info ripple" ng-click="controller.updateComment(comment, answer._id)" ng-if="controller.administrator">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                              </button>
                            </div>
                            <div class="col-xs-2">
                              <button class="custom-btn-utility custom-btn-utility-stop ripple" ng-click="controller.deleteComment(comment._id, answer._id)" ng-if="controller.administrator">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                              </button>
                            </div>
                        </div>
                      </li>
                    </ul>
                    <div class="newComment">
                      <textarea rows="3" placeholder="New comment" ng-model="controller.newComment.cContent"></textarea>
                      <button class="custom-btn custom-btn-go ripple" ng-click="controller.addComment(answer._id)">Comment</button>
                    </div>
                  </div>
                </div>
              </li>
            </div>
          </div>
        </ul>
      </div>
    </div>
    <div class="col-xs-3 sideBar">
      <div class="div1">
        <div class="div2">
        <h4>Course Lessons</h4>
        <ul>
          <li ng-repeat="sidelesson in controller.sideLessons" ng-click="controller.redirectToQuestions(sidelesson._id)">{{sidelesson.title}}</li>
        </ul>
      </div>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <textarea name="name" class="answerText" ng-model="controller.newAnswer.aContent" rows="5" style="padding: 10px"></textarea>
    <button style="margin-top: 20px" type="button" class="answerButton custom-btn custom-btn-go" ng-click="controller.addAnswer()">Answer</button>
  </div>
</div>


</div>
