<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="wrap">
  <div class="row">
    <div class="col-md-9">
      <div class="questionInfo">
        <h3 class="h4Question">{{controller.question.qTitle}}</h3>
          <i class="fa fa-pencil" ng-click="controller.showEditQuestionModal(question._id)"></i>
        <div class="pQuestion"><a ng-href="{{controller.question.qCodeLink}}"><h5>View My Snippet</h5></a></div>
        <div class="pQuestion"><h6>{{controller.question.qContent}}<h6></div>
      </div>
      <div class="answers">
        <ul class="answersUL"  ng-repeat="answer in controller.answers">
          <div class="row">
            <div class="col-xs-1">
              <i class="fa fa-sort-asc fa-xl" ng-click="controller.countUpTickAnswer(answer)"></i>
              {{answer.usefulCount}}
            </div>
            <div class="col-xs-11">
              <li class="question">
                {{answer.aContent}}
                <button class="replyButton">Reply</button>
                {{answer.aDate}}
                <i class="fa fa-trash" aria-hidden="true" ng-click="controller.deleteAnswer(answer._id)"></i>
                <i class="fa fa-pencil" aria-hidden="true" ng-click="controller.showEditAnswerModal(answer)"></i>
                <div class="discussionContainer">
                  <ul>
                    <li>comment1</li>
                    <li>comment2</li>
                  </ul>
                </div>
              </li>
            </div>
          </div>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="theLessons">
        <h3 class="h3Lessons">Course Lessons</h3>
          <ul class="aLessonsUL">
            <li class="aLessonLI">Lesson 1</li>
            <li class="aLessonLI">Lesson 2</li>
          </ul>
      </div>
    </div>
</div>










<div class="row">
  <div class="col-md-12">
    <form class="aForm">
      <textarea name="name" class="answerText" ng-model="controller.newAnswer.aContent" rows="4" cols="80">Please enter your answer/solution...</textarea>
      <button type="button" class="answerButton" ng-click="controller.addAnswer()">Answer</button>
    </form>
  </div>
</div>


</div>
