<div class="wrap" id="topSpacing">
<div class="row" id="lessonRow">
  <div class="col-xs-9">
    <div class="row headerTitle" >
      <div class="col-xs-12">
          <h2>Welcome to {{controller.Course.name}}</h2>
      </div>
    </div>
    <div class="row">
      <ul class="lessonList">
        <li class="eachLesson" ng-repeat="lesson in controller.lessons">
          <div class="card">
            <div class="row cardHeader">
              <div class="col-xs-8 header1">
                <div class="box-outer">
                  <div class="box-inner">
                    {{lesson.title}}
                  </div>
                </div>
              </div>
              <div class="col-xs-4 header2">
                <button class="custom-btn-utility custom-btn-utility-go ripple lessonButtonActive" ng-click="controller.redirectToQuestions(lesson._id)">
                  <i class="fa fa-leanpub" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="row cardFooter">
              <div class="col-xs-4 footer1" ng-if="controller.administrator">
                <button class="custom-btn-utility custom-btn-utility-info ripple lessonButtonActive" ng-click="controller.showEditLessonModal(lesson)">
                  <i class="fa fa-pencil lessonPencil"  aria-hidden="true"></i>
                </button>
              </div>
              <div class="col-xs-4 footer2">
              </div>
              <div class="col-xs-4 footer3">
                <button class="custom-btn-utility custom-btn-utility-stop ripple lessonButtonActive" ng-if="controller.administrator">
                  <i class="fa fa-trash lessonTrash" aria-hidden="true" ng-click="controller.delete(lesson)"></i>
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="row">
      <form>
        <div class="col-xs-12 addLesson" ng-if="controller.administrator">
          <input id="addCourse" type="text" ng-model="controller.newLesson.title" placeholder="Add New Lesson Here">
          <button class="custom-btn-utility custom-btn-utility-go ripple" ng-click="controller.addLesson()">
          <i class="fa fa-plus-square" id="addCourseButton" aria-hidden="true"></i>
          </button>
        </div>
    </form>
    </div>
  </div>
  <div class="col-xs-3 sideBar">
    <div class="div1">
      <div class="div2">
        <h4>Recent Activity</h4>
        <ul>
          <li ng-repeat="trendQuestion in controller.trendQuestions" ng-click="controller.redirectToAnswers(trendQuestion._id)">{{trendQuestion.qTitle}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

</div>
