<br>
<br>
<br>
<br>
<br>

<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-10">
          <h1 class="headerTitle">Welcome to {{controller.Course.name}}</h1>
      </div>
      <div class="col-xs-1">
      </div>
    </div>
    <div class="row">
      <ul class="lessonList">
        <li ng-repeat="lesson in controller.lessons" class="eachLesson">
          <div class="col-xs-2">
          </div>
          <div class="col-xs-8">
              <i class="fa fa-leanpub" id="leanpub" aria-hidden="true" ng-click="controller.redirectToQuestions(lesson._id)"></i>
            {{lesson.title}}
          </div>
          <div class="col-xs-1">
            <i class="fa fa-pencil" id="pencilLesson" aria-hidden="true" ng-click="controller.showEditLessonModal(lesson)"></i>
          </div>
          <div class="col-xs-1">
            <i class="fa fa-trash" id="trashLesson" aria-hidden="true" ng-click="controller.delete(lesson)"></i>
          </div>
        </li>
      </ul>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
      <form>
        <div class="col-xs-12">
          <input id="addCourse" type="text" ng-model="controller.newLesson.title" placeholder="Add New Course Here">
          <button class="addLesson">
          <i class="fa fa-plus-square" id="addCourseButton" aria-hidden="true" ng-click="controller.addLesson()"></i>
          </button>
        </div>
    </form>
    </div>
  </div>


<h3>still style trending once data is flowing</h3>


  <div class="col-md-3">
    <div class="trending">
      <div class="trendingIn">
        <h4 class="trendingTitle">Trending in HTML5</h4>
        <ul class="trendingUL" ng-repeat="trendQuestion in controller.trendQuestions">
          <li class="trendingLI">{{trendQuestion.qTitle}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
