<br>
<br>
<br>
<br>
<br>

<div class="row">
  <div class="col-xs-9">
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-10">
          <h1 class="headerTitle">Welcome to {{controller.Course.name}}</h1>
      </div>
      <div class="col-xs-1">
      </div>
    </div>
    <div class="row">
      <ul class="lessonList">
        <li class="eachLesson" ng-repeat="lesson in controller.lessons">
          <div class="card">
            <div class="row cardHeader" ng-click="controller.redirectToQuestions(lesson._id)">
              <div class="col-xs-8 header1">
                {{lesson.title}}
              </div>
              <div class="col-xs-4 header2">
                <i class="fa fa-leanpub book" aria-hidden="true"></i>
              </div>
            </div>
            <div class="row cardBody">

            </div>
            <div class="row cardFooter">
              <div class="col-xs-4 footer1">

              </div>
              <div class="col-xs-4 footer2">
                <i class="fa fa-pencil lessonPencil"  aria-hidden="true" ng-click="controller.showEditLessonModal(lesson)"></i>
              </div>
              <div class="col-xs-4 footer3">
                <i class="fa fa-trash lessonTrash" aria-hidden="true" ng-click="controller.delete(lesson)"></i>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
      <form>
        <div class="col-xs-12">
          <input id="addCourse" type="text" ng-model="controller.newLesson.title" placeholder="Add New Course Here">
          <button class="addLesson">
          <i class="fa fa-plus-square" id="addCourseButton" aria-hidden="true" ng-click="controller.addLesson()"></i>
          </button>
        </div>
    </form>
    </div>
  </div>


<h3>still style trending once data is flowing</h3>


  <div class="col-xs-3">
    <div class="trending">
      <div class="trendingIn">
        <h4 class="trendingTitle">Trending in HTML5</h4>
        <ul class="trendingUL" ng-repeat="trendQuestion in controller.trendQuestions">
          <li class="trendingLI">{{trendQuestion.qTitle}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
