<br>
<br>
<br>
<br>
<br>

<div class="wrap">

<div class="row" id="questionRow">
  <div class="col-xs-9">
    <div class="row lessonTitle">
        <div class="col-xs-12">
          <h1 class="lessonTitleH1">Lesson: {{controller.lesson.title}}</h1>
        </div>
    </div>
    <div class="row">
      <ul class="questionList">
        <li class="eachQuestion" ng-repeat="question in controller.questions">
          <div class="col-xs-2">
            <button class="custom-btn-utility custom-btn-utility-info ripple upArrow">
            <i class="fa fa-sort-asc arrow" ng-click="controller.countUpTick(question)"></i>
            </button>
          </div>
          <div class="col-xs-10">
          <div class="card">
            <div class="row cardHeader ripple" >
              <div class="col-xs-8">
                {{question.qTitle}}
              </div>
              <div class="col-xs-4">
                <button class="custom-btn-utility custom-btn-utility-go ripple questionButtonActive" ng-click="controller.redirectToAnswers(question._id)">
                  <i class="fa fa-file" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="row cardFooter">
              <div class="col-xs-4 footer1">
                {{question.clickCount}}
              </div>
              <div class="col-xs-4 footer2"></div>
              <div class="col-xs-4 footer3">
                {{question.qDate | date:'medium'}}
              </div>
            </div>
          </div>
          </div>






        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="askQuestion">
      <form>
        <input type="text" class="newQuestionTitle" placeholder="Question Title" ng-model="controller.newQuestion.qTitle">
        <input type="text" class="newQuestionBody" placeholder="code link" rows="1" cols="100" ng-model="controller.newQuestion.qCodeLink">
        <textarea type="text" class="newQuestionBody" placeholder="Question Body" rows="10" cols="100" ng-model="controller.newQuestion.qContent"></textarea>
        <button type="button" class="questionButton" ng-click="controller.addQuestions()">Ask</button>
      </form>
    </div>
  </div>
</div>

</div>
