<div class="wrap" id="topSpacing">
<div class="row" id="questionRow">
  <div class="col-xs-9">
    <div class="row lessonTitle">
        <div class="col-xs-12">
          <h1 class="lessonTitleH1">Lesson: {{controller.lesson.title}}</h1>
        </div>
    </div>
      <ul class="questionList">
        <li class="eachQuestion" ng-repeat="question in controller.questions">
          <div class="row">
          <div class="col-xs-2">
                <button class="custom-btn-utility custom-btn-utility-info ripple upArrow">
                <i class="fa fa-sort-asc arrow" ng-click="controller.countUpTick(question)"></i>
                </button>
                <p>{{question.clickCount}}</p>
          </div>
          <div class="col-xs-10">
          <div class="card">
            <div class="row cardHeader ripple" >
              <div class="inner row">
                <div class="col-xs-8">
                  {{question.qTitle}}
                </div>
                <div class="col-xs-4">
                    <button class="custom-btn-utility custom-btn-utility-go ripple questionButtonActive" ng-click="controller.redirectToAnswers(question._id)"><i class="fa fa-file" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="row cardFooter">
              <div class="col-xs-4 footer1"></div>
              <div class="col-xs-4 footer2">{{question.qDate |date:'MM/dd/yyyy h:mma'}}</div>
              <div class="col-xs-4 footer3"></div>
            </div>
          </div>
          </div>
          </div>
        </li>
      </ul>

  </div>
  <div class="col-xs-3">
    <div class="askQuestion">
      <form>
        <input type="text" class="newQuestionTitle" placeholder="Question Title" ng-model="controller.newQuestion.qTitle">
        <input type="text" class="newQuestionCodeLink" placeholder="Link URL" ng-model="controller.newQuestion.qCodeLink">
        <textarea type="text" class="newQuestionBody" placeholder="Question Body" rows="10" ng-model="controller.newQuestion.qContent"></textarea>
        <button type="button" class="questionButton custom-btn custom-btn-go" ng-click="controller.addQuestions()">Ask</button>
      </form>
    </div>
  </div>
</div>

</div>
