<div id="topSpacing"></div>
<div class="row" id="search">
  <div class="wrap">
    <div class="col-md-12">

      <h2>Search Results</h2>

        <ul>
          <li ng-repeat="question in controller.questions">
            <div class="row">
              <div class="col-xs-8">
                <div class="row">
                  <div class="col-xs-10">
                    <p class="question">{{question.qTitle}}</p>
                  </div>
                  <div class="col-xs-2">
                    <button class="custom-btn-utility custom-btn-utility-go" ng-click="controller.redirectToAnswers(question._id)">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="box-outer date">
                  <div class="box-inner">
                    <p>Posted: {{question.qDate | date: 'MMM dd - h:mm a'}}</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>
</div>
